<a href="https://colab.research.google.com/github/msandhiya07/Weatherdb/blob/main/Weatherdb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [25]:
df=pd.read_csv("/content/weather.csv")
df.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,NNE,6.0,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,W,30.0,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,ESE,20.0,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No

In [26]:
df.shape

(366, 22)

In [27]:
df.index

RangeIndex(start=0, stop=366, step=1)

In [29]:
df.columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

In [30]:
df.dtypes

MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm       int64
Humidity9am        int64
Humidity3pm        int64
Pressure9am      float64
Pressure3pm      float64
Cloud9am           int64
Cloud3pm           int64
Temp9am          float64
Temp3pm          float64
RainToday         object
RISK_MM          float64
RainTomorrow      object
dtype: object

#unique()

In [32]:
df["Rainfall"].unique()

array([ 0. ,  3.6, 39.8,  2.8,  0.2, 16.2,  1.2,  0.6,  0.4, 25.8, 22.6,
        4.2,  6.6,  4. ,  5.4,  1.4,  3.4,  6.4, 11. , 17.4, 14.4,  2. ,
        4.8, 18.8, 12.2,  0.8,  5.2,  2.2,  1.8,  9. ,  1. ,  4.4, 10.4,
        3. , 19.8,  2.6,  7.2,  3.8,  6.2, 16.8,  1.6, 19.2,  7.4,  9.8,
        7.6,  8.2, 13.2])

In [33]:
df["Sunshine"].unique()

array([ 6.3,  9.7,  3.3,  9.1, 10.6,  8.2,  8.4,  4.6,  4.1,  7.7, 11.9,
       12.5, 13. , 12.4, 13.1, 11.1, 10.1, 10.4,  9.5,  0. ,  0.6,  7.5,
        8.1,  8.9,  2.3, 10.7,  0.4,  0.5,  0.2, 12. ,  4.7, 11.8,  9.8,
        8.8, 10. ,  7.3,  3.6, 12.7,  0.9,  8.7,  0.8,  5.9, 10.2, 12.1,
        5.6,  7.1, 13.2, 13.6, 12.8, 10.5,  2.2, 11.7, 12.6, 13.3,  6.9,
       13.5,  6. , 11.6,  0.1,  1.6, 10.8,  9.9,  9. ,  6.2,  9.2,  0.3,
        8. ,  9.6,  3.8,  8.6, 11. , 11.3, 11.5, 11.2,  8.5, 11.4,  1.9,
       10.3,  9.3,  7.8,  6.8,  6.1,  8.3,  4.9,  7.9,  6.5,  5.8,  7. ,
        9.4,  3. ,  4.3,  1.7,  6.7,  5.1,  2.7,  2.6,  nan,  7.2,  2. ,
        7.6,  6.4,  3.9,  2.8,  1.2,  5.2,  0.7,  4.2,  5. ,  1.8,  2.4,
        2.9, 10.9, 12.2,  3.5,  5.3])

In [35]:
df["Rainfall"].nunique()

47

In [36]:
df["Sunshine"].nunique()

114

In [37]:
df.count()

MinTemp          366
MaxTemp          366
Rainfall         366
Evaporation      366
Sunshine         363
WindGustDir      363
WindGustSpeed    364
WindDir9am       335
WindDir3pm       365
WindSpeed9am     359
WindSpeed3pm     366
Humidity9am      366
Humidity3pm      366
Pressure9am      366
Pressure3pm      366
Cloud9am         366
Cloud3pm         366
Temp9am          366
Temp3pm          366
RainToday        366
RISK_MM          366
RainTomorrow     366
dtype: int64

In [38]:
df["Rainfall"].value_counts()

Rainfall
0.0     263
0.2      17
0.6       6
0.8       5
0.4       5
1.0       4
6.6       3
1.8       3
5.2       3
4.8       3
2.0       3
4.0       3
3.4       3
1.2       3
3.6       2
3.8       2
1.4       2
3.0       2
6.4       2
11.0      2
17.4      2
1.6       2
16.2      2
2.6       1
8.2       1
7.2       1
7.6       1
19.2      1
6.2       1
9.8       1
7.4       1
16.8      1
19.8      1
18.8      1
10.4      1
4.4       1
9.0       1
2.2       1
12.2      1
14.4      1
5.4       1
4.2       1
22.6      1
25.8      1
2.8       1
39.8      1
13.2      1
Name: count, dtype: int64

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MinTemp        366 non-null    float64
 1   MaxTemp        366 non-null    float64
 2   Rainfall       366 non-null    float64
 3   Evaporation    366 non-null    float64
 4   Sunshine       363 non-null    float64
 5   WindGustDir    363 non-null    object
 6   WindGustSpeed  364 non-null    float64
 7   WindDir9am     335 non-null    object
 8   WindDir3pm     365 non-null    object
 9   WindSpeed9am   359 non-null    float64
 10  WindSpeed3pm   366 non-null    int64
 11  Humidity9am    366 non-null    int64
 12  Humidity3pm    366 non-null    int64
 13  Pressure9am    366 non-null    float64
 14  Pressure3pm    366 non-null    float64
 15  Cloud9am       366 non-null    int64
 16  Cloud3pm       366 non-null    int64
 17  Temp9am        366 non-null    float64
 18  Temp3pm        366 non-null    float64
 19  RainToday      366 non-null    object
 20  RISK_MM        366 non-null    float64
 21  RainTomorrow   366 non-null    object
dtypes: float64(12), int64(5), object(5)
memory usage: 63.0+ KB

In [43]:
df.head(2)
df[df.Sunshine=="clear"]

Empty DataFrame
Columns: [MinTemp, MaxTemp, Rainfall, Evaporation, Sunshine, WindGustDir, WindGustSpeed, WindDir9am, WindDir3pm, WindSpeed9am, WindSpeed3pm, Humidity9am, Humidity3pm, Pressure9am, Pressure3pm, Cloud9am, Cloud3pm, Temp9am, Temp3pm, RainToday, RISK_MM, RainTomorrow]
Index: []

[0 rows x 22 columns]